* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #222;
  --main-color: white;
  --paragraph-color: #666;
  --nav-main-color: #8C8C00;
  --nav-color: lightblue;
  --nav-hover-color: darkred;
  --project-color: darkblue;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: var(--nav-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid var(--project-color);
}

.navbar a {
  text-decoration: none;
  color: var(--nav-main-color);
  font-size: 20px;
  transition: .5s ease;
}

.navbar a:hover {
  color: var(--nav-hover-color);
  transition: .5s ease;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.navbar a.active {
  color: var(--nav-hover-color);
  transition: 0.5s ease;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;

  h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: var(--main-color);
  }

  .tubbzz {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .tubbzz a {
    text-decoration: none;
    color: var(--nav-main-color);
  }

  .tubbzz a:hover {
    color: var(--nav-hover-color);
    transition: 0.5s ease;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
    padding-bottom: 10px;
  }
}

.projects {
  color: var(--paragraph-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  /* background-color: var(--project-color); */

  h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: var(--main-color);
  }

  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: var(--main-color);
    text-decoration: underline;
  }

  p {
    color: white;
  }

  .nova {
    text-decoration: underline;
    color: var(--nav-hover-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.img {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.img img:hover {
  box-shadow: 0 0 20px var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  transform: scale(1.05);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.moreinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: var(--nav-main-color);
  }

  a:hover {
    color: var(--nav-hover-color);
    transition: 0.5s ease;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
  }
}

.lmi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.lb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.cmo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: var(--nav-main-color);
  }

  a:hover {
    color: var(--nav-hover-color);
    transition: 0.5s ease;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
  }
}

.abtimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}

.abtimg img {
  width: 98%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
  transform: scale(1);
}

.abtimg img:hover {
  box-shadow: 0 0 20px var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
  transform: scale(1.05);
  z-index: 1;
  color: var(--main-color);
  text-decoration: underline;
}

.abtimgsmall {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

section#contact {
  width: 100%;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.contact-form {
  width: 100%;
}

.contact-form form {
  margin-top: 20px;
}

.input-group {
  width: 100%;
  display: flex;
  gap: 1em;
}

.contact-form [name] {
  width: 100%;
  flex: 0 1 100%;
  padding: 2px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: .3em;
  font-size: 14px;
  color: #666;
  outline: none;
  transition: .2s ease;
}

.contact-form [name]:focus:valid {
  border: 2px solid hsl(100, 80%, 60%);
}
.contact-form [name]:focus:invalid {
  border: 2px solid hsl(0, 80%, 60%);
}

.contact-form button {
  background-color: hsl(120, 60%, 40%);
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.contact-form button:hover {
  background-color: hsl(100, 80%, 43%);
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px;
  font-size: 16px;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: var(--nav-hover-color);
    font-size: 20px;
    font-weight: bold;
  }

  a:hover {
    color: var(--nav-main-color);
    transition: 0.5s ease;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  z-index: 1;
  transition: 0.5s ease;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: var(--main-color);
  z-index: 1;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px var(--main-color);
}

span {
 
  font-weight: bold;
  margin-left: 10px;
  color: var(--nav-hover-color);
  transition: 0.5s ease;
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  transition: 0.5s ease;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
  transition: 0.5s ease;
}

.skills-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
  text-decoration: underline;
  transition: 0.5s ease;
}

.skills-column .skills-box {
  position: relative;
  width: 100%;
  transition: .5s ease;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
}

.skills-box .skills-content:hover::before {
  width: 100%;
  transition: .5s ease;
}

.skills-content .progress {
  padding: 1rem 0;
  transition: .5s ease;
}

.skills-content .progress:hover {
  box-shadow: 0 0 20px var(--main-color);
  transition: 0.5s ease;
  object-fit: cover;
  object-position: center;
  transform: scale(1.03);
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
}

.skills-content .progress a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
}

.skills-content .progress a:hover {
  color: var(--nav-main-color);
  transition: 0.5s ease;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--nav-color);
  transition: 0.5s ease;
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
  transition: 0.5s ease;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-color);
  transition: 0.5s ease;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 10%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 5%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 35%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 2%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 0%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--nav-color);
  padding: 29px;

   p {
    color: var(--paragraph-color);
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
  } 

  a {
    text-decoration: none;
    color: var(--nav-main-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  a:hover {
    color: var(--nav-hover-color);
    transition: 0.5s ease;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    padding-bottom: 10px;
  }
}

h2 {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--main-color);
  z-index: 1;
  transition: 0.5s ease;
  text-shadow: 0 0 10px var(--main-color);
  gap: 1ch;
}

.education {
  padding: 100px 15px;
  background: var(--second-bg-color);
  transition: 0.5s ease;
}

.timeline-items {
  max-width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding: 2rem;
  transition: .5s ease;
  z-index: 1;
}

.timeline-item {
  margin-bottom: 45px;
  width: 90%;
  position: relative;
  transition: .5s ease;
}

.timeline-item:last-child {
  margin-bottom: 2px;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 20px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding: calc(50% + 20px);
  text-align: left;
}

.timeline-dot {
  height: 21px;
  width: 20px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),
  0 0 50px var(--main-color);
  position: relative;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  transition: .5s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
  transition: .5s ease-in-out;
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}